/*
  Created on: Mar 20, 2015   10:37:41 PM
  @copyright (c) 2015, Alexander Shulzhenko,  contact@alexshulzhenko.ru
  @license GPL 3.0, http://opensource.org/licenses/GPL-3.0 
*/

* {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;          
}

html,body {
    height: 100%;
    margin: 0;
}

div{
    text-align: center;
    vertical-align: central;
    min-height: 95%;
}
span {
    display: inline-block;
    vertical-align: middle;
}




